:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}
body {
    background-color: #193549;
    font-size: 10px;
    font-family: 'helvetica neue', sans-serif;
    color: white;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.title .js {
    color: var(--base);
} 

.variables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.item label {
    font-size: 1.5rem;
}

img{
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
}

.mt-2 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}